body {
	margin: 0px;
	padding: 0px;
	background-image: url(images/background.jpg);
	position: static;
	background-repeat: repeat;
	left: auto;
	top: auto;
	right: auto;
	bottom: auto;
	page-break-before: always;
	page-break-after: always;
	background-attachment: scroll;
}
.navigation {
	padding: 0px;
	margin-top: 20px;
	margin-right: 0px;
	margin-bottom: 20px;
	margin-left: 10px;
}
.navigation li {
	display: inline;
}
.navigation li a {
	background-color: #f2f2f2;
	padding-top: 10px;
	padding-right: 40px;
	padding-bottom: 10px;
	padding-left: 30px;
	border: 2px solid #222940;
	color: #222940;
	text-decoration: none;
	margin-top: 60px;
	margin-right: 60px;
	margin-bottom: 60px;
	margin-left: 20px;
}
.navigation li a:hover {
	border-top-color: #f2f2f2;
	border-right-color: #f2f2f2;
	border-bottom-color: #f2f2f2;
	border-left-color: #f2f2f2;
	color: #f2f2f2;
	background-color: #222940;
}
.content {
	margin-top: 0px;
	margin-right: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	padding: 0px;
	position: relative;
	left: auto;
	top: auto;
	right: auto;
	bottom: auto;
	background-attachment: scroll;
	height: 800px;
	width: 800px;
}
.main {
	background-color: #F2F2F2;
	padding: 0px;
	border-radius: 0px;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	margin: auto;
	page-break-before: always;
	page-break-after: always;
	background-attachment: scroll;
	position: relative;
	left: auto;
	top: auto;
	right: auto;
	bottom: auto;
}
.home-img img {
	border: 1px solid #000;
	margin-right: 5px;
	margin-bottom: 5px;
	background-color: #C0F;
}

p {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	font-size: 16px;
	line-height: 2em;
	padding: 0px;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 2.25em;
	margin-left: 0px;
	color: #333;
}
	

.wrapper {
	background-repeat: repeat;
	left: 40px;
	top: 40px;
	float: none;
	position: relative;
	right: 40px;
	bottom: 40px;
	page-break-before: always;
	page-break-after: always;
}
.wrapper .content .main .labels {
	position: relative;
	float: none;
	padding: 0px;
	margin: 0px;
	left: auto;
	top: auto;
	right: auto;
	bottom: auto;
	page-break-before: always;
	page-break-after: always;
	background-attachment: scroll;
}
